<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <p class="name-logo">Romio Dhar</p>
            <button>Home</button>
            <button>About Me</button>
            <button>My Work</button>
            <button>Contact Me</button>
        </div>
    </header>