<%- include('partials/header') %>

<section class="hero home">
  <h1 class="">Hi, I’m Romio Dhar</h1>
  <p class="">Full-Stack Developer | API Enthusiast</p>
  <a href="/projects" class="">View My Work</a>
</section>

<%- include('partials/footer') %>
